/*
!.gitignore
!wp-content/README.md
!/sitedatabase.sql
!README.md
.idea/

!/site
/site/*
!/site/package.json
!/site/package-lock.json
!/site/webpack.mix.js

!/site/wp-content
/site/wp-content/*
!/site/wp-content/themes
/site/wp-content/themes/*
!/site/wp-content/themes/portfolio
/site/wp-content/themes/portfolio/public