.about{
  max-width: 1730px;
  color: $white;
  margin-bottom: calc-em(100,16);
}
.about__title{
  font-size: calc-em(96,16);
  line-height: calc-em(115,96);
  text-align: center;
  margin-bottom: calc-em(80,96);
}
.about__container{
  margin: 0 calc-em(100,16) 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}
.about__description{
  font-family: robotoLight,sans-serif;
  font-size: calc-em(24,16);
  line-height: calc-em(36,24);
  letter-spacing: calc-em(1,24);
  margin-bottom: calc-em(45,24);
}
.about__button{
  font-family: robotoMedium,sans-serif;
  font-size: calc-em(17,16);
  color: $white;
  padding: calc-em(13,17) calc-em(40,17);
  text-decoration: none;
  border-radius: 0.8em;
  background-color: $middleGreen;
  cursor: pointer;
}
.about__button:hover{
  animation: button 0.3s forwards;
}

@media screen and (max-width: 1200px){
  .about__title{
    font-size: calc-em(60,16);
  }
  .about__description{
    font-size: calc-em(20,16);
  }
  .about__container{
    margin: 0 calc-em(70,16);
  }
  .about__img{
    width: 300px;
  }
  .about__button{
    font-size: calc-em(14,16);
  }
}
@media screen and (max-width: 800px){
  .about__container{
    margin: 0 calc-em(30,16);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .about__img{
    width: border-box;
  }
  .about__button{
    font-size: calc-em(14,16);
  }
}
@media screen and (max-width: 660px){
  .about__title{
    font-size: calc-em(40,16);
  }
  .about__description{
    font-size: calc-em(18,16);
  }
}