.cta{
  max-width: 1730px;
}
.cta__container{
  margin: calc-em(50,16) calc-em(100,16) calc-em(215,16);
  position: relative;
}
.cta__text{
  font-family: rubikBold,sans-serif;
  color: $darkGreen;
}
.cta__title{
  font-size: calc-em(120,16);
  line-height: calc-em(143,120);
  margin-bottom: calc-em(30,120);
  width: 70%;
}
.cta__description{
  font-size: calc-em(22,16);
  letter-spacing: 0.04em;
}
strong{
  color: $appleGreen;
}
.cta__strongName{
  display: inline-block;
  animation: name 7s infinite;
}
.cta__illustration{
  position: absolute;
  z-index: -1;
  top: -19em;
  right: 10%;
}
.cta__img{
  width: calc-em(430,16);
  animation: hand 3s infinite ease-out;
}

@media screen and (max-width: 1200px){
  .cta__container{
    margin: calc-em(30,16) calc-em(70,16) calc-em(190,16);
  }
  .cta__title{
    font-size: calc-em(85,16);
  }
  .cta__description{
    font-size: calc-em(19,16);
  }
  .cta__img{
    width: calc-em(300,16);
  }
  .cta__illustration{
    top: -13em;
  }
}
@media screen and (max-width: 800px){
  .cta__container{
    margin: calc-em(20,16) calc-em(30,16) calc-em(160,16);
  }
  .cta__text{
    margin-top: calc-em(200,16);
  }
  .cta__title{
    font-size: calc-em(100,16);
    width: 90%;
  }
  .cta__description{
    font-size: calc-em(17,16);
  }
  .cta__img{
    width: calc-em(180,16);
  }
  .cta__illustration{
    top: -24em;
  }
}
@media screen and (max-width: 660px){
  .cta__title{
    font-size: calc-em(60,16);
    width: 100%;
  }
  .cta__description{
    font-size: calc-em(15,16);
  }
  .cta__container{
    margin-bottom: calc-em(100,16);
  }
}


