/* Roboto */
@font-face {
  font-family: robotoLight;
  src: url("../../../../uploads/2022/typos/RobotoLight.ttf") format("truetype");
}
@font-face {
  font-family: robotoMedium;
  src: url("../../../../uploads/2022/typos/RobotoMedium.ttf") format("truetype");
}
@font-face {
  font-family: robotoBold;
  src: url("../../../../uploads/2022/typos/RobotoBold.ttf") format("truetype");
}
/* Rubik */
@font-face {
  font-family: rubikBold;
  src: url("../../../../uploads/2022/typos/RubikBold.ttf") format("truetype");
}
@font-face {
  font-family: rubikMedium;
  src: url("../../../../uploads/2022/typos/RubikMedium.ttf") format("truetype");
}
/* Monoton */
@font-face {
  font-family: manotuunn;
  src: url("../../../../uploads/2022/typos/MonotonRegular.ttf") format("truetype");
}