header {
  max-width: 1730px;
}
.nav {
  margin: calc-em(50, 16) calc-em(100, 16) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__menu {
  font-family: robotoLight, sans-serif;
  font-size: calc-em(22, 16);
}
.nav__item:nth-child(n+1), .nav__item:nth-child(n+2) {
  margin-bottom: calc-em(20, 22);
}
.nav__link {
  color: $blackGreen;
}
.nav__svg:hover{
  animation: 1s linkBorder ease-in-out;
}

@media screen and (max-width: 1200px) {
  .nav {
    margin: calc-em(25, 16) calc-em(70, 16) 0;
  }
  .nav__svg{
    width: 70px;
    height: 70px;
  }
  .nav__link {
     color: $white;
   }
}
@media screen and (max-width: 800px) {
  .nav {
    margin: calc-em(20, 16) calc-em(30,16) 0;
  }
}

