.projects{
  max-width: 1730px;
  color: $white;
}
.projects__title{
  font-size: calc-em(96,16);
  line-height: calc-em(115,96);
  text-align: center;
  margin: calc-em(115,96) 0 calc-em(160,96);
}
.project{
  margin-bottom: calc-em(200,16);
}
.project__container{
  margin: 0 calc-em(100,16) 0;
}
.project__text{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.project_number{
  font-family: monoton,sans-serif;
  font-size: calc-em(140,16);
}
.project__description{
  font-family: robotoLight,sans-serif;
  font-size: calc-em(22,16);
  line-height: calc-em(36,22);
}

/*  mockup */
.project__illustration{
  margin: calc-em(130,16) calc-em(70,16) 0;
}
.project__mockup{
  width: 100%;
  position: relative;
}
.project__svg{
  width: 100%;
}
.project__adress{
  text-align: center;
  position: relative;
  top:  clamp(0px,2.5vw,43px);
}
.project__view{
  height: calc-em(650,16);
  overflow: auto;
  border-radius: 0 0 1em 1em;
  box-shadow: 0 8px 8px 3px rgba(0,0,0,0.24);
  transform: translateY(-5px);
}
.project__website{
  width: 100%;
}
.project__url{
  text-decoration: none;
  color: $middleGreen;
  font-family: robotoMedium,sans-serif;
}
.project__url:hover{
  text-decoration-line: underline;
}
.button{
  text-align: center;
}
.project__link{
  font-family: robotoMedium,sans-serif;
  font-size: calc-em(17,16);
  color: $white;
  padding: calc-em(13,17) calc-em(40,17);
  text-decoration: none;
  border-radius: 0.8em;
  background-color: $middleGreen;
  position: relative;
  bottom: 8px;
}
.a.project__link:hover{
  animation: button 0.3s forwards;
}


@media screen and (max-width: 1200px){
  .project__container{
    margin: 0 calc-em(70,16) 0;
  }
  .projects__title{
    font-size: calc-em(60,16);
  }
  .project_number{
    font-size: calc-em(100,16);
  }
  .project__description{
    font-size: calc-em(20,16);
  }
  .project__url{
    font-size: calc-em(13,16);
  }
  .project__link{
    font-size: calc-em(14,16);
  }
}
@media screen and (max-width: 800px){
  .project{
    margin-bottom: calc-em(70,16);
  }
  .projects{
    margin-bottom: calc-em(40,16);
  }
  .project__container{
    margin: 0 calc-em(30,16) 0;
  }
  .project__text{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .project_number{
    margin-bottom: calc-em(20,100);
  }
  .project__illustration{
    margin: calc-em(20,16);
  }
  .project__url{
    position: absolute;
    left: 0;
    top: -10000px;
    overflow: hidden;
  }
  .project__view{
    height: calc-em(450,16);
  }
}
@media screen and (max-width: 660px){
  .projects__title{
    font-size: calc-em(40,16);
  }
  .project_number{
    font-size: calc-em(70,16);
  }
  .project__description{
    font-size: calc-em(18,16);
  }
}
