@import "fonctions";
@import "keyframes";
@import "reset";
@import "colors";
@import "fonts";
@import "header";
@import "burgerMenu";
@import "cta";
@import "project";
@import "about";
@import "mentions";
@import "gallery";
@import "contact";
@import "footer";

.hidden{
  position: absolute;
  left: 0;
  top: -10000px;
  overflow: hidden;
}
h1,h2,h3{
  font-family: rubikBold,sans-serif;
}
header{
  margin: 0 auto;
}
main{
  background-color: $darkGreen;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer{
  margin: 0 auto;
  max-width: 1730px;
}
.button:hover{
  animation: button 0.3s forwards;
}

/* ----- animated links ------ */
.animatedLink {
  position: relative;
  text-decoration: none;
}
.animatedLink::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $appleGreen;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.animatedLink:hover::before {
  transform: scaleX(1);
}

