@import "fonctions";
@import "reset";
@import "colors";
@import "fonts";
@import "header";
@import "project";
@import "footer";

.hidden{
  position: absolute;
  left: 0;
  top: -10000px;
  overflow: hidden;
}